/**
 * Custom styling for the login form page
 */

@import "sass/variables-site/*";
@import "sass/mixins/*";

.login { // page body tag
	background: $light;

	#login { // div container for login form

		h1 {

			a {
				background-image: url(images/logo.png);
			    background-size : contain;
			    height 			: 200px;
			    width 			: 320px; // max: 320px
 			}
		}
	}

	#loginform {
		background-color: $gray;
		padding-bottom 	: 26px;

		p {

		}

		label {
			color: $light;
		}

		.input { // username and password fields
			background-color: $light;
			border 			: 0;
			color 			: $gray;

			&:focus,
			&:active {
				border 		: 1px solid $teal;
				box-shadow 	: 0 0 5px $teal;
			}
		}


	}

	.submit { // submit button p tag


		#wp-submit { // submit button itself
			background-color: $teal;
			border 			: 0;
			border-radius 	: 0;
			box-shadow 		: none;
			color 			: $light;
			font-size 		: 1.25em;
			font-weight 	: 700;
			text-transform 	: uppercase;

			&:hover {
				background-color: $light;
				color 			: $gray;
			}
		}
	}

	#nav,
	#backtoblog {

		a {
			color: $dark;

			&:hover {
				color: $teal;
			}
		}
	}

	.forgetmenot { // remember me checkbox p tag

		label {

		}

		#rememberme { // checkbox itself
			background-color: $light;
			color 			: $teal;
		}
	}

}