.main-navigation {
	clear			: both;
	display			: block;
	width			: 100%;

	ul {
		@extend %listreset;
		display 	: none;

		@media only screen and (min-width: $bp__menu-button+1) {
			display 	: block;
			text-align	: right;
		}

		ul {
			//background-color: $color__bg-menu-item-mobile;
			display			: inherit;

			@media only screen and (min-width: $bp__menu-button+1) {
				background-color: transparent;
				color 			: $gray;
				margin 			: 0 auto;
				max-width 		: $size__max-width;
				opacity 		: 0;
				padding-left 	: 225px;
				text-align 		: left;
				transition 		: $trans__default;
				visibility 		: hidden;
				width 			: 100%;
				z-index			: 99999;
			} // breakpoint

			ul {

				@media only screen and (min-width: $bp__menu-button+1) {
					left: 100%;
					top	: 0;
				}

				a {
					@media only screen and (max-width: $bp__menu-button) {
						border-left : none;
						padding 	: 0.5em 3em;
					}
				}
			}

			a {
				@media only screen and (max-width: $bp__menu-button) {
					padding: 0.5em 2em;
				}

				@media only screen and (min-width: $bp__menu-button+1) {
					color 			: $gray;
					padding-bottom 	: 0.75em;
					white-space 	: nowrap;
				}
			}

			li {

				&:last-child {

					@media only screen and (max-width: $bp__menu-button) {
						padding-bottom: 0;
					}
				}

				&:hover,
				&:focus {

					> a {
						background-color: $gray;
						color 			: $color__text-menu-mobile-hover;
					}
				}
			}
		} // .submenu ul

		> li {
			@media only screen and (max-width: $bp__menu-button) {
				position: relative;

				&.menu-item-has-children {

					.sub-menu {
						display: none;
					}

					.show-hide {
						cursor 		: pointer;
						position 	: absolute;
						right 		: 0;
						text-align 	: center;
						top 		: 0.5em;
						width 		: 2em;
					}
				}
			}

			@media only screen and (min-width: $bp__menu-button+1) {
				.show-hide {
					display: none;
				}
			}
		}
	} // first-level ul

	li {

		@media only screen and (min-width: $bp__menu-button+1) {
			display 		: inline-block;
			vertical-align 	: top;
		}

		&:hover,
		&.focus {

			.wrap-submenu,
			.wrap-submenu > ul {
				@media only screen and (min-width: $bp__menu-button+1) {
					opacity 	: 1;
					visibility 	: visible;
				}
			}

			> a {
				text-decoration : none;
			}
		}

		&.open {

			> .wrap-submenu,
			> .wrap-submenu ul,
			a .dashicons.children {
				opacity 	: 1;
				visibility 	: visible;
			}
		}
	}

	a {
		color 			: $color__text-menu-mobile;
		display			: block;
		font-size 		: 20px;
		padding 		: 0.5em;
		text-decoration	: none;
		transition 		: color $trans__default;

		@media only screen and (min-width: $bp__menu-button+1) {
			color 			: $color__text-menu;
			padding-bottom 	: 20px;
		}

		&:focus {
			outline-color: $color__outline-menu-link;
		}
	}

	.current_page_item,
	.current-menu-item,
	.current-menu-parent,
	.current_page_ancestor {

		> a {
			font-weight 	: 700;
			padding-bottom 	: 0.5em;
			text-transform 	: uppercase;
		}
	}

	&.toggled {

		.nav-menu {
			@extend %menutoggle;
			background-color: transparent;
		}

		.menu-main-menu-container {
			@media only screen and (min-width: $bp__header1) and (max-width: $bp__laptop) {
				transform: translateX(0);
			}
		}

		.menu-toggle {

			.dashicons-arrow-left {
				@media only screen and (min-width: $bp__header1) {
					font-size 	: 1.65em;
					height 		: 20px;
					width 		: 20px;
				}
			}
		}
	}

} // .main-navigation

// Center Menu
.menu-main-menu-container {
	margin		: 0 auto;

	/**
	 * Tablet menu - slide in from left - on top or pushing content
	 */
	@media only screen and (min-width: $bp__header1) and (max-width: $bp__laptop) {
		background-color: $transteal;
		bottom 			: 0;
		height 			: 100%;
		left 			: 0;
		overflow 		: auto;
		position 		: fixed;
		top 			: 0;
		transform 		: translateX( -$size__menu_width);
		transition 		: transform 0.4s ease;
		width 			: $size__menu_width;
		z-index 		: 9999;

		.admin-bar & {
			padding-top: $size__wp-admin-bar-1;

			@media only screen and (min-width: $bp__admin-bar-1) {
				padding-top: $size__wp-admin-bar-2;
			}
		}
	}
}

.wrap-submenu {

	@media only screen and (min-width: $bp__menu-button+1) {
		background-color: $ltgray;
		content 		: "";
		left 			: 0;
		opacity 		: 0;
		position 		: absolute;
		transition 		: $trans__default;
		width 			: 100%;
		visibility 		: hidden;
	}
}

/* Small menu */
.menu-toggle {
	@extend %menutoggle;
	margin 		: 0 auto;
	max-width 	: 300px;

	@media only screen and (min-width: $bp__header1) and (max-width: $bp__laptop) {
		background-color: $color__bg-menu-button;
		color 			: $color__text-menu-button;
		position 		: absolute;
		right 			: 0;
		width 			: 200px;
		z-index 		: 99;
	}

	@media only screen and (min-width: $bp__header1) and (max-width: $bp__headings1 - 1) {
		top: 0;
	}

	@media only screen and (min-width: $bp__headings1) and (max-width: $bp__laptop) {
		bottom: 0;
	}

	@media only screen and (min-width: $bp__menu-button+1) {
		display 		: none;
	}

	.dashicons-arrow-left {
		font-size 		: 0;
		height 			: 0;
		line-height 	: 0.75;
		margin-right 	: 0.125em;
		transition 		: $trans__default;
		width 			: 0;
	}

	.dashicons-menu {
		font-size 	: 1.25em;
		margin-right: 0.25em;
	}
}

.dashicons.children {
	display: none;

	@media only screen and (min-width: $bp__menu-button+1) {
		display 	: block;
		font-size 	: 2em;
		line-height : 0.75;
		margin 		: 0 auto;
		opacity 	: 0;
		width 		: 1em;

		.current_page_item a &,
		.current-menu-item a &,
		.current-menu-parent a &,
		.current_page_ancestor a & {
			display 	: block;
			height 		: 0.75em;
			width 		: 0.75em;
		}

		li:hover &,
		li.focus & {
			opacity: 1;
		}
	}
}