.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.page-content,
.entry-content,
.entry-summary {
	hyphens 	: auto;
	margin 		: 0;
	word-wrap 	: break-word;

	p {
		margin-top: 0;
	}

	.resources & {

		h2 {
			margin-top: 0;
		}
	}
}

.page-links {
	clear 	: both;
	margin 	: 0 0 1.5em;
}

.site-content {
	margin 		: 0 auto $size__default-bot-marg;
	max-width 	: $size__max-width;
	overflow 	: auto;
	width 		: 100%;
}

.content-area {
	float 		: left;
	overflow 	: auto;
	width 		: 100%;

	@media only screen and (min-width: $bp__tablet) {
		&.content-sidebar {
			float 	: left;
			margin 	: 0 2.5% 0 0;
			width 	: 70%;
		}

		&.sidebar-content {
			float 	: right;
			margin 	: 0 0 0 2.5%;
			width 	: 70%;
		}
	}

	.who-weve-helped & ul {
		@extend %listreset;
		columns: 3 275px;
	}
}

h1.page-title {
	background-color: $teal;
	color 			: $light;
	display 		: inline-block;
	font-weight 	: 400;
	margin-top		: 0;
	padding 		: 0.33em;
	text-transform 	: uppercase;
}

.entry-title {

	a {
		@include unline( $teal );
	}
}

.page-template-page_lois {

	.content-mobile {

		@media only screen and (min-width: $bp__laptop) {
			display: none;
		}
	}

	.wrap-lois {
		display: none;

		@media only screen and (min-width: $bp__laptop) {
			display 		: block;
			height 			: 0;
			overflow 		: hidden;
			padding-bottom 	: 1950px;
			position 		: relative;
			text-align 		: center;

			iframe {
				height 		: 100%;
				left 		: 0;
				position 	: absolute;
				top 		: 0;
				width 		: 100%;
			}
		}
	}
}
